/* Estilo para el fondo con gradiente */
.navbar-dark {
    background-image: linear-gradient(to right, #40A578, #9DDE8B);
}

/* Fondo de la Pagina */
body {
    background-image: url('../IMG/pexels-minan1398-1131458.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    background-color: whitesmoke; /* Color de fondo de respaldo */
    margin-bottom: 100px; /* Añadir espacio al final para el footer */
}



.container2 {
    margin-left: 450px;
}

/* Estilos para el contenedor padre que centraliza .contenedor */
.contenedor {
    width: 400px;
    height: 550px;
    border: 2px solid grey;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; /* Centra el contenedor horizontalmente */
    margin-top: 50px; /* Ajusta el margen superior según sea necesario */
}

.contenedor h2 {
    font-size: 2.3rem;
    color: white;
    text-align: center;
}

.input-contenedor {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid white;
}

.input-contenedor label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    pointer-events: none;
    transition: 0.6s;
}

.input-contenedor input:focus ~ label,
.input-contenedor input:valid ~ label,
.input-contenedor input:not(:placeholder-shown) ~ label {
    top: -5px;
}

.input-contenedor input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px 0;
    color: white;
}

.input-contenedor i {
    position: absolute;
    top: 19px;
    right: 8px;
    color: white;
    font-size: 1.6rem;
}

/* Estilos para el footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #28a745; /* Ajusta el color de fondo del footer según sea necesario */
    color: white;
    text-align: center;
    padding: 10px 0;
}
